<!doctype html>

<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>KIP Chat</title>
  

</head>

<body>
    <br>
   <div>
    
   
    <form method="POST">
        <div>
          <input type="text" name="msg" placeholder="Напишите сообщение">
        </div>
        <div>
            <button type="submit">Отправить</button>
        </div>
      </form>

        <div>
            Привет!
        </div>
    
        <br>

    </div>
</body>
</html>